<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="listDigest" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Twitter List Digest</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/listDigest.css"/>
  <link rel="icon" 
      type="image/ico" 
      href="/favicon.ico">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script type="text/javascript">
	  (function(d) {
	    var config = {
	      kitId: 'rwj8ofy',
	      scriptTimeout: 3000
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</head>

	<body>
		<div class="view-container" data-ng-controller="HeaderCtrl">

			<header class="page-header">
				<h1>
					<a href="/">Twitter List Digest</a>
				</h1>
			</header>



			<div data-ng-view autoscroll="true" class="view-frame">
				<!-- Content gets inserted here by Angular -->
			</div>



			<footer>

				<h2 data-ng-show="my.lists.length > 0" data-ng-cloak>Lists</h2>
				<div class="content" data-ng-show="my.lists.length > 0" data-ng-cloak>
					<ul class="myLists">
						<li class="myList" data-ng-repeat="list in my.lists | orderBy:listSortable:listsReverse">
							<a class="info name" ng-href="/#/{{list.user.screen_name}}/{{list.slug}}" ng-bind="list.name"></a>
							<span class="by">by</span>
							<a class="info owner" ng-href="/#/{{list.user.screen_name}}">@{{list.user.screen_name}}</a>
						</li>
					</ul>
				</div>



				<h2 data-ng-show="my.friends.users" data-ng-cloak>Following</h2>
				<div class="content" data-ng-show="my.friends.users" data-ng-cloak>
					<ol class="myFriends">
						<li class="myFriend current-{{currentFriend.data.screen_name == friend.screen_name}}" data-ng-repeat="friend in (friendList.data = (my.friends.users | orderBy:userSortable:usersReverse))" data-ng-show="friend.following" data-screenName="{{friend.screen_name}}" data-index="{{$index}}" data-ng-cloak>
							<a data-ng-href="/#/{{friend.screen_name}}" class="info name">
								<span class="name">{{friend.name}}</span>
								<span class="screen_name">@{{friend.screen_name}}</span>
							</a>
						</li>
					</ol>
				</div>

			</footer>


		</div>


		<script>document.write('<script src="https://' + (location.host || 'localhost').split(':')[0] + ':9000/livereload.js"></' + 'script>')</script>

		<script src="bower_components/underscore/underscore-min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
		<script src="bower_components/bootstrap/js/button.js"></script>
		<script src="bower_components/bootstrap/js/dropdown.js"></script>
		<script src="node_modules/typogr/typogr.min.js"></script>
		<script src="app/js/app.js"></script>
		<script src="app/js/directives.js"></script>
		<script src="app/js/animations.js"></script>
		<script src="app/js/filters.js"></script>
		<script src="app/js/services.js"></script>
		<script src="app/js/controllers.js"></script>
	</body>
</html>