
<section class="home">


	<h1>
		<span class="line">Find and share</span>
		<span class="line">the <strong>top tweets</strong></span>
		<span class="line">in your network.</span>
	</h1>
	
	<!-- Not signed in -->
	<p class="sign-in" data-ng-show="my && !my.settings.screen_name">
		<a href="/connect/auth_user.php?path=account%2Fverify_credentials&q=skip_status%3Dtrue%26include_entities%3Dfalse&redirect=false" >
			<img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" title="Sign in with Twitter">
		</a>
	</p>

	<!-- Signed in -->
	<p class="signed-in" data-ng-show="my && my.settings.screen_name">
		You're signed in as @{{my.settings.screen_name}}
		<a href="/connect/auth_user.php?signout=true&redirect=false">(Sign out)</a>
	</p>

	<p class="signed-in-info" data-ng-show="my && my.settings.screen_name">
		Click a list or user below for a sorted&nbsp;Twitter&nbsp;feed.
	</p>


</section>