

<div>
	<a href="/connect/auth_user.php?path=account%2Fverify_credentials&q=skip_status%3Dtrue%26include_entities%3Dfalse&redirect=false" >
		<img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" title="Sign in with Twitter">
	</a>
</div>

<div>
	<a href="/connect/auth_user.php?signout=true&redirect=false">Sign out</a>
</div>

<ul class="lists" ng-repeat="list in lists" ng-show="lists">
	<li>
		<a ng-href="/#/{{list.user.screen_name}}/{{list.slug}}" ng-bind="list.name"></a>
	</li>
</ul>