<form role="form" class="form-inline" ng-submit="findLists()" method="GET">
	<div class="form-group form-group-lg">
		<span class="help-block">Enter a twitter handle to retrieve all of that user's lists</span>
		<label for="twitterHandle">Twitter Handle: @</label>
		<input id="twitterHandle" name="twitterHandle" type="text" class="form-control" ng-model="screen_name" required />
		<input id="findLists" type="submit" value="Find lists" class="btn btn-primary" />
	</div>
</form>

<ul class="lists" ng-repeat="list in lists" ng-show="lists">
	<li>
		<a ng-href="/#/list/{{list.id}}" ng-bind="list.name"></a>
	</li>
</ul>